/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif; */
/* 
<i class="fas fa-user-md"></i> */



* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

h2 {
    font-size: 40px;
}

hr {
    width: 80%;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00CC00;
    border: 0 none;
    margin-top: 50px;
    margin-bottom: 50px;
    }

/* overlay */

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 2;

}

/* header styles */


.sticky {
    position: sticky;
    top: 0;
    width: 100%
  }
  
.header_section {
    display: flex;
    background-color: #484848;
    padding: 30px;
    z-index: 2;

}

.header_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1400px;
    align-items: center;
    margin: 0 auto;
}

.title_wrapper{
    display: flex;
    align-items: center;
}

.fa-user-md {
    margin: 20px;
    font-size: 80px;
    color: #00CC00;
    
}

.fa-bars {
    font-size: 50px;
    color:#00CC00
}

.title {
    font-size: 50px;
    color: white;
}

/* nav */

.main_nav {
	position: fixed;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

}

.nav_item {
    margin: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-decoration: none;
}


/* hero styles */

.hero-background {
    background-image: url(https://images.pexels.com/photos/302083/pexels-photo-302083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-background-service {
    background-image: url(https://images.pexels.com/photos/1842610/pexels-photo-1842610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-background-about {
    background-image: url(https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-background-contact {
    background-image: url(https://images.pexels.com/photos/607812/pexels-photo-607812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-background-jobs {
    background-image: url(https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blurb-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    z-index: 1;
}

.service-blurb-wrapper, .about-blurb-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    z-index: 1;
    height: 65%;
}


.hero-blurb {
    color: white;
    width: 60%;
    font-size: 35px;
    margin-bottom: 5px;
}

.service-blurb {
    color: white;
    width: 90%;
    font-size: 40px;
    margin-bottom: 5px;
    font-style: italic;
}

.about-blurb {
    color: white;
    width: 90%;
    font-size: 40px;
    margin-bottom: 5px;
    font-style: italic;
}

.service-blurb-title {
    color: white;
    width: 90%;
    font-size: 55px;
    margin-bottom: 5px;
}

#hero-overlay {
    position: absolute;
    display: flex;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1));
    width: 100%;
    height: 800px;
}

.fa-quote-left , .fa-quote-right {
    font-size: 35px;
    color: #00CC00;
    margin: 5px;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 10px;
}

.quote {
    color:white;
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-style: italic;
}

.stars {
    display: flex;
    justify-content: center;
}

.fa-star {
    color: #FFD700;
    margin: 0 3px;
    font-size: 24px;
}

/* main styles */



.main-section {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.main-section > img {
    margin-bottom: 50px;
    width: 90%;
    margin: 0 auto;
}
}

.main-section > p {
    width: 90%;
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 50px;
}

.home-title {
    width: 90%;
    margin: 30px auto;
}

.home-content {
    width: 90%;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.people {
    background-image: url(https://images.pexels.com/photos/1559106/pexels-photo-1559106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 400px;
    width: 90%;
    align-self: center;
    background-size: cover;
}

.enquire {
    text-align: center;
    height: 80px;
    width: 90%;
    background-color: #00CC00;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    align-self: center;
    font-weight: bolder;
    border-radius: 10px;
}

.enquire > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/*  services */

.service-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 35px;
}


.service-section {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.service-title {
    width: 90%;
    margin: 30px auto;
    font-size: 50px;
}

.enquire-service {
    text-align: center;
    height: 80px;
    width: 90%;
    background-color: #00CC00;
    margin: 10px auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    align-self: flex-end;
    font-weight: bolder;
    border-radius: 10px;
}

.enquire-service > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.fa-wheelchair , .fa-procedures , .fa-home {
    font-size: 50px;
    color: #00CC00;
    margin-right: 25px;
}

.service-descripton {
    width: 80%;
    margin: 20px auto;
    font-size: 40px;
}

.service-list {
    margin-left: 80px;
}

.service-list > li{
    font-size: 35px;
}


.domiciliary {
    background-image: url(https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: 20px auto;
}

.live-in {
    background-image: url(https://images.pexels.com/photos/748780/pexels-photo-748780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: 20px auto;
}

.home-visit {
    background-image: url(https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position:  center;
    width: 90%;
    height: 400px;
    margin: 20px auto;
}


/**
 * Change bullet color of list item by replacing it with CSS
 */


 ul li {
    color: #3c3c3c; 
    /* set color of list item text */
  
    list-style: none; 
  }
  
   ul li::before {
    color: #00CC00;
    /* color of bullet or square */
  
    content: "\2022"; 
    /* Unicode of character to precede the list item */
  
    font-size: 1em; 
    /* em or %*/
   
    padding-right: 1.1225em; 
    /* use em*/
  
    position: relative;
    top: 0em; 
    /* use em or % */
   }
/* footer */

.footer-section {
    background-color: #484848;
    margin-top: 50px;
}

.maps {
    width: 100%;
    height: 600px;
}

.footer {
    background-color: #484848;
    color: white;
    font-size: 40px;
    padding: 30px;
}

.footer-contact > p , .footer-contact > a {
    margin: 4px;
}

.footer-contact > a {
    color: white;
    text-decoration: none;
}

.footer-contact > h2 {
    color: #00CC00;
    margin-top: 2px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-social {
    font-size: 60px;
    margin-top: 30px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    color: #00CC00;
}

.to-top {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-top: 15px;
    cursor: pointer;
   
}
.to-top > p {
    margin: 0px;
}
.fa-arrow-up {
    margin-top: 0px;
    margin-right: 10px;
    color: #00CC00;
}